@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
	Layout = "master.cshtml";
}


<div class="jumbotron">
	<div class="container">
		<div class="page-header">
			<h1>@Umbraco.Field("siteTitle")<br /><small>@Umbraco.Field("headline")</small></h1>
		</div>
		<p>@Umbraco.Field("mainContent")</p>
		<p><a class="btn btn-primary btn-lg" href="/about-us/" role="button">@Umbraco.Field("footer")</a></p>
	</div>
</div>

@Html.Partial("ProjectsPartial")