@inherits Umbraco.Web.Mvc.UmbracoTemplatePage



<nav class="navbar navbar-default navbar-static-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">AarhusWebDevCoop</a>
        </div>
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav">
				@{
					var maxLevelForNav = 4;
					var home = CurrentPage.AncestorOrSelf(1);

					@RenderNavForNode(home, 1);

					foreach (var page in home.Children.Where("Visible"))
					{
						@RenderNavForNode(page, maxLevelForNav);
					}
				}
				@helper RenderNavForNode(dynamic page, int maxLevel)
				{
					var current = CurrentPage.Id == page.Id ? "active" : null;

					if (page.Children.Where("Visible").Any() && page.Level < maxLevel)
					{
						foreach (var subPage in page.Children.Where("Visible"))
						{
							@RenderNavForNode(subPage, maxLevel)
						}
					}
                    if (page.Name == "Contact Us") {
                        <li class="@current"><a href="@page.Url">@page.Name</a></li>
                    }
					else if (page.Name == "Articles") {
					
						<!-- Split button -->
						<div class="btn-group">
							<button type="button" class="btn btn-danger">Action</button>
								<button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								<span class="caret"></span>
								<span class="sr-only">Toggle Dropdown</span>
							</button>
							<ul class="dropdown-menu">
								<li><a href="#">Action</a></li>
								<li><a href="#">Another action</a></li>
								<li><a href="#">Something else here</a></li>
								<li role="separator" class="divider"></li>
								<li><a href="#">Separated link</a></li>
							</ul>
						</div>
					}
					 else if (page.Level >= 2 && page.Children.Where("Visible").Any() && page.Name == "Our Projects") {
					    <li class="@current dropdown">
							<a href="@page.Url" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">@page.Name <span class="caret"></span></a>
							<ul class="dropdown-menu">
                                @if (page.Name == "Our Projects") {
                                    <li class="dropdown-header">COMPLETED</li>
                                    foreach (var subPage in page.Children.Where("Visible").Where("projectStatus.Contains(\"11\")"))
                                    {
                                        var subCurrent = CurrentPage.Id == subPage.Id ? "active" : null;
                                        <li class="@subCurrent"><a href="@subPage.Url">@subPage.Name</a></li>
                                    }
									<li class="dropdown-header">UNDER DEVELOPMENT</li>
                                    foreach (var subPage in page.Children.Where("Visible").Where("projectStatus.Contains(\"10\")"))
                                    {
                                        var subCurrent = CurrentPage.Id == subPage.Id ? "active" : null;
                                        <li class="@subCurrent"><a href="@subPage.Url">@subPage.Name</a></li>
                                    }
									<li class="dropdown-header">INITIATED</li>
                                    foreach (var subPage in page.Children.Where("Visible").Where("projectStatus.Contains(\"9\")"))
                                    {
                                        var subCurrent = CurrentPage.Id == subPage.Id ? "active" : null;
                                        <li class="@subCurrent"><a href="@subPage.Url">@subPage.Name</a></li>
                                    }
									<li class="dropdown-header">IDEA</li>
                                    foreach (var subPage in page.Children.Where("Visible").Where("projectStatus.Contains(\"8\")"))
                                    {
                                        var subCurrent = CurrentPage.Id == subPage.Id ? "active" : null;
                                        <li class="@subCurrent"><a href="@subPage.Url">@subPage.Name</a></li>
                                    }
                                } else {
								    foreach (var subPage in page.Children.Where("Visible"))
								    {
								        var subCurrent = CurrentPage.Id == subPage.Id ? "active" : null;
								        <li class="@subCurrent"><a href="@subPage.Url">@subPage.Name</a></li>
                                    }
                                }
							</ul>
						</li>
					} else if (page.Level == 2) { // showing pages of level 2 with no subpages
						<li class="@current"><a href="@page.Url">@page.Name</a></li>
					} else if (page.Level == 1) { // showing pages of level 1
						<li class="@current"><a href="@page.Url">@page.Name</a></li>
					}
				}
			</ul>
		</div>
    </div><!-- /.container-fluid -->
</nav>
